<h1>{{ translationService.translate('child') }}</h1>
@for (product of products(); track $index) {
  @if (product.selected) {
    <button
      data-test="product-selected"
      [ngClass]="{ even: $index % 2 === 0, odd: $index % 2 === 1 }"
      [appHighlight]="'purple'"
      mat-flat-button
      (click)="productSelected.emit(product)"
    >
      {{ product.name | titlecase }}
    </button>
  } @else {
    <button
      data-test="product"
      [class.even]="$index % 2 === 0"
      [class.odd]="$index % 2 === 1"
      mat-button
      (click)="productSelected.emit(product)"
    >
      {{ product.name | hyphenate }}
    </button>
  }
}

@if (products().length === 0) {
  <div data-test="no-products">{{ translationService.translate('child.no-products') }}</div>
}
